<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="request-log-analyzer : Create reports based on your log files." />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>request-log-analyzer</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/wvanbergen/request-log-analyzer">View on GitHub</a>

          <h1 id="project_title"><a href="/">request-log-analyzer</a></h1>
          <h2 id="project_tagline">Create reports based on your log files.</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/wvanbergen/request-log-analyzer/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/wvanbergen/request-log-analyzer/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">request-log-analyzer is maintained by
          <a href="https://github.com/wvanbergen">Willem van Bergen</a> and
          <a href="https://github.com/barttenbrinke">Bart ten Brinke</a> of
          <a href="http://www.railsdoctors.com">Railsdoctors</a>.
        </p>
      </footer>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-37287278-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
